@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Indie Flower', cursive;
  font-weight: 900;
}

header {
  background-color: green;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header a:link {
  color: #00FF00;
}

header a:visited {
  color: #00FF00;
}

header a:hover {
  color: #FF00FF;
  border-bottom: 1.5px solid #FF00FF;
}

header a:active {
  color: green;
}

nav ul {
  float: right;
  letter-spacing: 4px;
  font-size: 135%;
}

 nav li {
  display: inline;
  float: left;
  padding: 20px;
  line-height: 25px;
}

.table {
  display: table;
  margin: 0 auto;
}

.active {
  border-bottom: 2.5px solid #00FF00;
}

footer {
  clear: both;
  bottom: 0;
  background-color: green;
}

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 1% 5% 1% 5%;
  color: white;
  text-shadow: 2px 2px 4px #000000, 4px 4px 28px #FF00FF;
}

#gallery-footer {
  clear: both;
  bottom: 0;
  background: rgba(255, 255, 255, 0.0);
}

#gallery-body {
  background-image: url("https://i.ytimg.com/vi/sJZZmwLMiFw/maxresdefault.jpg");
  background-repeat: repeat-y;
}

#gallery {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}

#gallery img {
  width: 100%;
}

#about-body {
  background-image: url("/assets/img/tri limuna - cut.JPG");
  background-position: center;
  background-size: cover;
}

.about-text h2 {
  padding: 2% 2% 3% 1%;
}

.about-text p, .about-text h3 {
  padding-left: 1%;
}

.about-text p img {
  float: right;
}

.about-text {
  font-size: 120%;
}

#about-text-h2 {
  font-size: 160%;
}

.about-list ul {
  float: right;
  letter-spacing: 4px;
  font-size: 135%;
}

 .about-list li {
  display: inline;
  float: left;
  padding-right: 80px;
  line-height: 25px;
}

.table-about-list {
  display: table;
	margin: 0 auto;
  float: left;
  padding-left: 1%;
  padding-bottom: 13%;
}

.about-list h3 {
  padding-bottom: 3%;
  width: 100%;
}

.about-list p {
  width: 100%;
}

#discography-link {
  border-bottom: 1.5px solid black;
  color: black;
}

#discography-link:hover {
  color: #FF00FF;
  border-bottom: 1.5px solid #FF00FF;
}

#news-body {
  background-image: url("https://f4.bcbits.com/img/0017786643_100.png");
  background-repeat: repeat-y;
  background-size: 100%;
}

#news-section1 {
  padding: 1% 1% 2% 2%;
}

#news-section1 img {
  float: right;
  width: 50%;
}

#news-section1 h1 {
  font-size: 300%;
}

#news-section1 h2 {
  font-size: 250%;
}

#news-section1 h3, #news-section1 a  {
  font-size: 150%;
}

#news-section1 a {
  padding: 1% 2% 1% 2%;
  border: 2.5px solid #708090;
  color: black;
}

#news-section1 a:hover {
  background-color: #708090;
  color: white;
  text-shadow: 2px 2px 4px #000000, 4px 4px 28px #FF00FF; 
}

#news-section1-text {
  text-align: center;
  font-family: 'Permanent Marker', cursive; 
  padding-top: 10%;
}

#news-section2 {
  clear: both;
}

#news-section2 iframe {
  float: right;
  padding: 2% 1% 2% 0;
}

.newsletter-form {
  text-align: center;
  width: 45%;
  padding-top: 2%;
  background-color: #708090;
  font-family: 'Special Elite', cursive;
}

.newsletter-form ul {
  float: right;
  letter-spacing: 4px;
  font-size: 135%;
}

 .newsletter-form li {
  display: inline;
  float: left;
  padding: 20px 15px 20px 15px;
  line-height: 25px;
}

.newsletter-form h1 {
  font-size: 175%;
}

.newsletter-form p {
  padding: 3% 0 3% 0;
}

#newsletter-form-p2 {
  font-size: 75%;
}

#newsletter-form-div {
  padding: 2% 0 0 1%;
}

.newsletter-form input {
  font-size: 65%;
  font-family: inherit;
}

.newsletter-form-inputs {
  width: 80%;
  padding: 10px 0 10px 0;
  }

  #newsletter-form-submit {
    padding: 10px 0 10px 0;
    cursor: pointer;
  }