@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Indie Flower', cursive;
  font-weight: 900;
}

header {
  background-color: green;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header a:link {
  color: #00FF00;
}

header a:visited {
  color: #00FF00;
}

header a:hover {
  color: #FF00FF;
  border-bottom: 1.5px solid #FF00FF;
}

header a:active {
  color: green;
}

nav ul {
  float: right;
  letter-spacing: 4px;
  font-size: 135%;
}

 nav li {
  display: inline;
  float: left;
  padding: 20px;
  line-height: 25px;
}

.table {
  display: table;
  margin: 0 auto;
}

.active {
  border-bottom: 2.5px solid #00FF00;
}